name: mini_screen_util
description: A tiny ScreenUtil-like helper built on MediaQuery that provides .w/.h/.r/.sp without passing BuildContext.
version: 0.0.1
homepage: https://github.com/abqamar/mini_screen_util.git
license: MIT

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
